.body {
    background-color: rgb(6, 23, 62);
    /* color: rgb(126, 201, 245); */
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flex-container-row {
    /* We first create a flex layout context */
    display: flex;
    flex-flow: row nowrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    align-items: center;
    
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex-container-col {
    /* We first create a flex layout context */
    display: flex;
    flex-flow: column nowrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-evenly;
    align-items: center; 
    
    padding: 0;
    margin: 0;
    list-style: none;
}

#nav-sidebar {
    align-self: normal;
    justify-content: flex-start;
    align-items: flex-start;
    top: 50vh;
    max-height: 50vh;
    width: 10%;
    min-width: 3.125rem;
    /* overflow-y: auto; */
    position: -webkit-sticky;
    position: sticky;
}

#nav-sidebar {
    align-self: normal;
    justify-content: flex-start;
    align-items: flex-start;
    top: 50vh;
    max-height: 50vh;
    width: 10%;
    min-width: 3.125rem;
    /* overflow-y: auto; */
    position: -webkit-sticky;
    position: sticky;
}

.nav-sidebar-item {
    color: rgb(126, 201, 245);
    text-align: left;
    font-size: medium;
    padding: .3em;
    transition: all 0.3s ease-in-out, background-color 0.35s ease-in-out;
}

.nav-sidebar-item.active {
    color: white;
    font-size: x-large;
    background-color: rgba(75, 169, 220, 0.463);
}

#intro-section {
    height: 100vh; /** Always takes up the entire screen on page landing */
    width: 100%;
}

#hero {
    display: flex;
    flex-flow: column nowrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: center;
    
    flex-grow: 3;

    width: 70%;
    padding: 0;
    padding-inline-start: 4.4%;
    list-style: none;
}

#name {
    color: rgb(126, 201, 245);
    margin-inline-start: 3%;
}

.icon-logo {
    color: rgb(126, 201, 245);
    width: 2.5rem;
    height: 2.5rem;
}

#blurb {
    width: 37rem; /** rem depends on the user's root font size, which tracks with the <h1> name */
    margin-inline-start: calc(3% + .3rem);
}

#links {
    margin-top: .6rem;
    width: max-content;
    margin-inline-start: calc(3% + .3rem);
    justify-content: flex-start;
    gap: .625rem;
}

#sidebar-container {
    display: flex;
    width: 30%;
    justify-content: center; /* Center horizontally */

    /* Sticky Scroll Properties */
    align-self: normal;
    /* top: 0vh; */ /* done in index.js */
    height: fit-content;
    max-height: 90vh;
    /* overflow-y: auto; */
    position: -webkit-sticky;
    position: sticky;
}

#sidebar {
    background-color: rgba(14, 18, 28, 0.83);
    /* flex-grow: 1; */
    flex-shrink: 0;
    width: 80%;
    max-width: 18rem;
    height: fit-content;
    /* margin-inline-end: 80px; */
    padding: 1.25em;
    gap: 2vh;
}

#sidebar1-gpa {
    align-self: flex-end;
    margin-top: -1.25em; /** #sidebar padding is done by rems */
    margin-right: -1.25em;
    /* background-color: rgb(46, 55, 60); */
    background-color: rgba(75, 169, 220, 0.463);
    /* background-color: rgba(220, 119, 75, 0.463); */
    padding: .3em;
    border-bottom-left-radius: .625em;
}

#sidebar1-utd-logo {
    width: 3.5rem;
    height: 3.5rem;
}

#sidebar1-school {
    font-weight: bold;
}

#sidebar1-degree {
    font-size: 1.125em;
    font-weight: 500;
    font-style: italic;
}

#sidebar1-class-header {
    margin-top: 1.25vh;
    align-self: flex-start;
}

#sidebar1-classes {
    text-align: left;
    margin-top: -1.25vh;
    margin-inline: 3%;
}

#sidebar1-class-type {
    font-weight: bold;
    margin-top: 1.2vh;
}

#sidebar1-class-list {
    margin-inline-start: 4%;
}

#sidebar1-button {
    font-size: large;
    background-color: rgba(0, 58, 124, 0);
    border: 2px solid rgb(167, 167, 167);
    color: white;
    padding: .3125em .625em;
    /* border-radius: 2px; */
    text-align: center;
    font-size: 1em;
}

.sidebar2-skills {
    align-self: flex-start;
    padding-inline: 3%;
    align-content: start;
}

.sidebar2-header {
    text-align: start;
}

.sidebar2-skill-list {
    margin-top: 1vh;
    flex-flow: column nowrap;
    list-style-type: '- ';
    text-align: start;
    /* margin-left: 15px; */
}

#sidebar2-skill {
    justify-content: flex-start;
    align-items: start;
    gap: .625rem;
    margin-bottom: .5vh;
}

h1 {
    font-size: 5rem;
    margin: 0;
}

h3 {
    font-size: 1.875em;
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 1.125em;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    width: auto; /* or a specific width */
    text-align: center;
}

#projects {
    width: 70%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-inline-start: 4.4%;
    gap: 5vh 2vw; /* row-gap column gap */
    flex-grow: 3;
}

/* adds a pseudo-element if the last row has less project-cards than the capacity */
#projects::after { 
    content: "";
    flex: auto;
}

@media screen and (max-width: 1135px) and (min-width: 1035px) {
    .nav-sidebar-item.active {
        font-size: large;
    }
}