.body {
    background-color: rgb(30, 27, 27);
    color: rgb(223, 24, 24);
}

.flex-container-row {
    /* We first create a flex layout context */
    display: flex;
    flex-flow: row nowrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    align-items: center;
    
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex-container-col {
    /* We first create a flex layout context */
    display: flex;
    flex-flow: column nowrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-evenly;
    align-items: center; 
    
    padding: 0;
    margin: 0;
    list-style: none;
}

#intro-section {
    height: 100vh;
    width: 100%;
}

#hero {
    display: flex;
    flex-flow: column nowrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: center;
    
    flex-grow: 3;

    width: 200px;
    padding: 0;
    margin-inline-start: 80px;
    list-style: none;
}

.icon-logo {
    color: red;
    width: 40px;
    height: 40px;
}

#blurb {
    width: 650px;
    margin-inline-start: 10px;
}

#links {
    width: 650px;
    margin-inline-start: 10px;
    justify-content: flex-start;
    padding: 0;
}

#sidebar {
    /* flex-grow: 1; */
    flex-shrink: 0;
    width: 275px;
    height: 400px;
    margin-inline-end: 80px;
    outline: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

#sidebar1-gpa {
    align-self: flex-end;
    margin-top: -32px ;
    margin-right: -10px;
    background-color: rgb(60, 46, 46);
    padding: 5px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#sidebar1-utd-logo {
    width: 55px;
    height: 55px;
}

#sidebar1-school {
    font-size: 22px;
    font-weight: bold;
    margin-left: 8px;
    margin-right: 8px;
}

#sidebar1-degree {
    font-size: 18px;
    font-weight: 500;
    margin-left: 8px;
    margin-right: 8px;
    font-style: italic;
}

#sidebar1-class-header {
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 17px;
    align-self: flex-start;
}

#sidebar1-classes {
    text-align: left;
    margin-left: 8px;
    margin-right: 8px;
}

h1 {
    font-size: 80px;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    width: auto; /* or a specific width */
    text-align: center;
}

#projects {
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-inline-start: 80px;
    gap: 15px 5px; /* row-gap column gap */
    flex-grow: 3;
}