.flex-container-row {
    /* We first create a flex layout context */
    display: flex;
    flex-flow: row nowrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    align-items: center;
    
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex-container-col {
    /* We first create a flex layout context */
    display: flex;
    flex-flow: column nowrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-evenly;
    align-items: center; 
    
    padding: 0;
    margin: 0;
    list-style: none;
}

#intro-section {
    height: 100vh;
    width: 100%;
}

#hero {
    display: flex;
    flex-flow: column nowrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: center;
    
    flex-grow: 3;

    width: 200px;
    padding: 0;
    margin-inline-start: 80px;
    list-style: none;
}

#blurb {
    width: 650px;
    margin-inline-start: 10px;
}

#links {
    width: 650px;
    margin-inline-start: 10px;
    justify-content: flex-start;
    padding: 0;
}

#sidebar {
    /* flex-grow: 1; */
    flex-shrink: 0;
    width: 250px;
    margin-inline-end: 80px;
    outline: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

#utd-logo {
    width: 55px;
    height: 55px;
}


h1 {
    font-size: 80px;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    width: auto; /* or a specific width */
    text-align: center;
}

#projects {
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-inline-start: 80px;
    gap: 15px 5px; /* row-gap column gap */
    flex-grow: 3;
}